<section>
    <table class="table table-bordered">
        <tr>
            <td>工号</td><td>QD100</td>
            <td><button class="button btn-primary">修改</button></td>
        </tr>
        <tr>
            <td>姓名</td><td>王小明</td>
            <td><button class="button btn-primary">修改</button></td>
        </tr>
        <tr>
            <td>密码</td><td>######</td>
            <td><button class="button btn-primary">修改</button></td>
        </tr>
        <tr>
            <td>手机号</td><td>13324567890</td>
            <td><button class="button btn-primary">修改</button></td>
        </tr>
        <tr>
            <td>所属项目</td><td>项目c</td>
            <td><button class="button btn-primary">修改</button></td>
        </tr>
    </table>
    <button class="button btn-primary">删除该用户</button>
    <button class="button btn-primary">禁用该用户</button>
</section>