<section>
    <table class="table">
        <thead>
            <td>工号</td>
            <td>姓名</td>
            <td class="ellipsis">手机号</td>
            <td>所属项目</td>
            <td>修改</td>
        </thead>
        <tr>
            <td>QD000</td>
            <td>姓名姓名</td>
            <td class="ellipsis">12345678900</td>
            <td>项目a</td>
            <td><a class="button btn-primary" ng-href="#/modify/QD000">进入</a></td>
        </tr>
        <tr>
            <td>QD001</td>
            <td>姓名姓名</td>
            <td class="ellipsis">12345678900</td>
            <td>项目b</td>
            <td><a class="button btn-primary" ng-href="#/modify/QD001">进入</a></td>
        </tr>
    </table>
    <div class="alert alert-info" role="alert">搜索“”的结果</div>
</section>