@import "bootless/bootstrap.less";
@import "includes/navbar.less";

.task-list{
  padding:0;
  list-style: none;
  &>.task-card{
    margin:4px;
    border:2px solid @brand-primary;
    border-radius: 15px;
    height:100px;
  }
  &>.new-task{
    color:@brand-primary;
    font-size:2em;
    height:50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: right;
  }
}
#no-data{
  left: 0;
  position: absolute;
  height: 230px;
  width: 100%;
  background: rgba(80,80,80,0.7);
  font-size: 30px;
  color: rgba(200,255,255,0.7);
  text-align: center;
  line-height: 200px;
  vertical-align: middle;
}