@import "bootless/bootstrap.less";
@import "includes/navbar.less";
@import "includes/others.less";

.img-addon{
  height:140px;
  padding:0;
  position:relative;
}
.img-addon-text{
  width:15px;
  i{
    color:@brand-warning;
    font-size:1.5em;
  }
}
.img-group{
  background-color: RGB(228,228,228);
}
.input-group {
  margin: 10px;
}
section.customer,section.pgoals,section.pranking{
  .btn-default.cat:focus{
    background-color: #fff;
  }
}
body {
  font-family: sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width:2;
}
.axis path {
  display: none;
}
#pgoalContent,#prankingContent {
  position:relative;
  .pager {
    margin: 0;
  }
}
#pgoalCategory,#prankingCategory{
  a.btn{
      margin:0 10px;
  }
}
svg:not(:root) {
  margin-top: 30px;
}
#custTable{
  overflow:scroll;
}
#map-location-text{
  white-space: pre-wrap;
  word-break:break-all;
}
#no-data{
  left: 0;
  top:80px;
  position: absolute;
  height: 230px;
  width: 100%;
  background: rgba(80,80,80,0.7);
  font-size: 30px;
  color: rgba(200,255,255,0.7);
  text-align: center;
  line-height: 200px;
  vertical-align: middle;
}
.dataTables_wrapper{
  padding-bottom: 100px;
}
section.pranking{
  .dataTables_wrapper{
    padding-bottom: 150px;
  }
}
form{
  .modify{
    position:absolute;
    i{
      color:@brand-warning;
      font-size:2em;
    }
    &.up {
      left:50%;
      top:1px;
      i{
        margin-left:-50%;
      }
    }
    &.left{
      left:1px;
      top:50%;
      i{
        margin-top:-50%;
      }
    }
    &.right{
      right:1px;
      top:50%;
      i{
        margin-top:-50%;
      }
    }
    &.down{
      bottom:1px;
      left:50%;
      i{
        margin-left: -50%;
      }
    }
    &.ok{
      left:50%;
      top:50%;
      i{
        margin-left: -50%;
        margin-top: -50%;
      }
    }
  }
}
  @import "includes/navbar.less";
.lbs-tag{
  color: #31708f!important;
}
.geo-bar-box .locbar{
  border:1px solid #d9edf7!important;
  background: #d9edf7!important;
  margin-right:0;
  margin-left:0;
}