@nav-bg-color:rgb(45,46,47);
@nearwhite:#e7e7e7;
.navbar{
  margin-bottom:0;
}
.navbar-brand{
  padding:10px 15px;
}
.navbar-default{
  background-color:@nav-bg-color;
  border-color:@nav-bg-color;
}
.navbar-default{
  .navbar-toggle{
    border:none;
    color:@nearwhite;
    &:hover,&:focus,&:active{
      background-color:@nav-bg-color;
    }
    .icon-bar{
      background-color: @nearwhite;
    }
  }
  .navbar-collapse{
    border-color:@navbar-default-toggle-icon-bar-bg;//#888
  }
  .navbar-nav{
    &>li>a,&>li>a:hover,&>li>a:focus{
      color:@nearwhite;
    }
    &>.active>a,&>.active>a:hover,&>.active>a:focus{
      color:@nearwhite;
      background-color: @gray;
    }
    .open{
      &>a,&>a:hover,&>a:focus{
        background-color: @gray;
        color:@nearwhite;
      }
      .dropdown-menu {
        & > li > a {
          color: @gray-lighter;
          &:hover,&:focus{
            background-color: #262626;
          }
        }
        & > .active > a{
          &,&:hover,&:focus{
            color:@nearwhite;
            background-color: @gray;
          }
        }
      }
    }
  }
}
ul.dropdown-menu{
  background-color: @gray-dark !important;
  @media (max-width:@screen-xs-max){
    background-color: @gray-light !important;
  }
}
body>.container,body>.container-fluid{
  margin-top:13px;
}

