<h4>预览任务列表</h4>
<div class="container">
    <ul class="task-list row">
        <li class="task-card new col-xs-12 col-sm-6 col-md-4 col-lg-3 new-task" ng-click="new()">
            <div class="pull-right task-card-title">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </div>
        </li>
        <li ng-repeat="item in listData" class="task-card col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <task-card
                    name="item.name"
                    id="item.uuid"
                    names="item.userList"
                    time="item.actionTime"
                    method="item.salesMode.name"
                    budget="item.budget"
                    area="item.area.split(',').slice(2).join(',')">
            </task-card>
        </li>
        <li ng-show="loading" id="loading"><img src="/public/images/loading.gif"></li>
        <li class="task-card new col-xs-12 col-sm-6 col-md-4 col-lg-3 new-task" ng-click="new()">
            <div class="pull-right task-card-title">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </div>
        </li>
    </ul>
</div>