<form novalidate name="custForm" ng-jq>
    <div class="input-group img-group">
        <input style="width:0;border:0;padding:0;" disabled ng-model="customer.pt" type="text" class="form-control" placeholder="">
        <span class="input-group-addon img-addon">
            <img width="100%" height="auto"
                 src="http://api.map.baidu.com/staticimage?width=480&height=315
                 &zoom=15&markers={{customer.pt}}&center={{customer.pt}}&
                 markerStyles=l,A,#f0ad4e&scale=2&copyright=1" />
        </span>
    </div>
    <lbs-geo class="alert alert-info" city="北京" enable-modified="false" id="geo"></lbs-geo>
    <p ng-bind="customer.location" id="map-location-text" class="hidden"></p>
    <div class="input-group">
        <span class="input-group-addon">报备时间</span>
        <input disabled ng-model="customer.time" type="text" class="form-control" placeholder="">
    </div>
    <div class="input-group{{(custForm.name.$dirty&&custForm.name.$invalid)?' has-error':''}}">
        <span class="input-group-addon">客户姓名</span>
        <input ng-model="customer.name" type="text" class="form-control" placeholder="Username" name="name" required>
        <span class="input-group-addon" ng-show="custForm.name.$dirty&&custForm.name.$invalid"><i class="glyphicon glyphicon-exclamation-sign"></i></span>
    </div>
    <div class="input-group{{(custForm.phone.$dirty&&!validatePhone())?' has-error':''}}">
        <span class="input-group-addon">客户手机</span>
        <input ng-model="customer.phone" type="text" class="form-control" placeholder="Phone" name="phone" required>
        <span class="input-group-addon" ng-show="custForm.phone.$dirty&&!validatePhone()"><i class="glyphicon glyphicon-exclamation-sign"></i></span>
    </div>
    <div class="input-group">
        <span class="input-group-addon">描述</span>
        <textarea ng-model="customer.detail" rows="8" maxlength="280" class="form-control" placeholder="Description"></textarea>
    </div>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="{{(validatePhone()&&customer.name!=''&&customer.name!=undefined)?'   ':'disabled '}}btn btn-default btn-primary" ng-click="next(customer)">立刻提交</button>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="upload-info">
            </div>
        </div>
    </div>
</div>